img[alt~="@10"] {
    width: 10%;
}
img[alt~="@20"] {
    width: 20%;
}
img[alt~="@30"] {
    width: 30%;
}
img[alt~="@40"] {
    width: 40%;
}
img[alt~="@50"] {
    width: 50%;
}
img[alt~="@60"] {
    width: 60%;
}
img[alt~="@70"] {
    width: 70%;
}
img[alt~="@80"] {
    width: 80%;
}
img[alt~="@90"] {
    width: 90%;
}
img[alt~="@100"] {
    width: 100%;
}

